################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BE_2505/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/BE_2505/v17/.futdcache.v1
/.vs/ProjectEvaluation/be_2505.metadata.v2
/.vs/ProjectEvaluation/be_2505.projects.v2
