################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BE_2505/DesignTimeBuild/.dtbcache.v2
